@font-face {
  font-family: "Courier Prime";
  src: url("../assets/fonts/CourierPrime-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Courier Prime";
  src: url("../assets/fonts/CourierPrime-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Courier Prime";
  src: url("../assets/fonts/CourierPrime-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Courier Prime";
  src: url("../assets/fonts/CourierPrime-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 700;
}

html,
body {
  margin: 0;
  font-size: 16px;
  font-family: "Courier Prime", "Courier New", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
