.monke {
  position: relative;
  max-width: 415px;
  width: 80vw;
  display: grid;
  justify-items: center;
}

.monke img {
  width: 100%;
}

.monke p {
  font-size: 2rem;
  text-align: center;
  font-style: italic;
}

.monke p.error {
  color: #a00000;
}

.monke button {
  width: 13rem;

  border: solid transparent;
  border-radius: 1rem;
  font-size: 1.2rem;
  font-family: inherit;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.7rem 1rem 0.5rem 1rem;
  background-color: lightgrey;
  color: black;
  appearance: button;
  cursor: pointer;
}

.monke button:hover {
  background-color: yellow;
}

.monke button:active {
  color: white;
}
